<!DOCTYPE html>
<html lang="pt-br" ng-app="usersList">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UOL HOST - Prova FE</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <header>
    <div class="logo">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a href="#" title="UOL Host">
              <img src="img/uol-host-logo.png" alt="UOL Host" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="content">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h1>Painel de clientes</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10">
          <h2 class="form-title">Cliente</h2>
        </div>
        <div class="col-xs-2">
          <button type="button" name="novo-cliente" class="btn btn-primary btn-novo-cliente">Novo cliente</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p>Buscar</p>
          <div class="input-group table-filter-form">
            <input type="text" class="form-control" id="table_filter" placeholder="Buscar por nome ou e-mail..." ng-model="searchString">
            <div class="input-group-addon clear-user-search" ng-click="searchString = ''">&times</div>
          </div>

          <div class="table-responsive table-users" ng-controller="userCtrl">
            <table class="table">
              <tr dir-paginate="user in users | orderBy : 'name' | usersFilter: searchString | itemsPerPage: 5" class="{{ user.status.type | lowercase }}">
                <td class="user-photo">
                  <img src="img/uol-host-user.png" alt="{{ user.name }}" />
                </td>
                <td class="user-name">
                  <span class="user-name-label">{{ user.name }}</span>
                  <span class="user-name-email">{{ user.contact }}</span>
                </td>
                <td class="user-status">
                  <span class="user-status-led"></span>
                  <span class="user-status-label">{{ user.status.description }}</span>
                </td>
                <td class="user-config">
                  <button type="button" name="config_user" class="btn btn-default user-config-button">
                    <img src="img/config-icon.png" alt="Configurar usuário" />
                  </button>
                </td>
              </tr>
            </table>
          </div>

          <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true"
            template-url="templates/js/angular/views/pagination.html">
          </dir-pagination-controls>

        </div>
      </div>
    </div>
  </div>

  <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
  <script src="scripts/scripts.js" type="text/javascript"></script>
  <script src="bower_components/angularUtils-pagination/dirPagination.js" type="text/javascript"></script>
</body>
</html>
